.modal-container {
  background-color: rgba(160, 157, 157, 0.345);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.modal-content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.modal-body {
  align-items: center;
  background-color: rgb(3, 3, 3);
  border-radius: 5%;
  box-shadow: 6px 0px 8px -2px rgb(230, 94, 230);
  color: rgb(231, 235, 235);
  display: flex;
  flex-direction: column;
  height: 78vh;
  padding: 20px;
  width: 40vw;
}

.modal-title {
  font-family: "Oswald", sans-serif;
  font-size: 38pt;
  padding-top: 14px;
}

.instructions {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16pt;
  padding-top: 24px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0px 40px 0px;
}

.close-modal-button {
  cursor: pointer;
  background-color: rgb(221, 118, 216);
  border: 2px solid rgb(101, 101, 240);
  border-radius: 5%;
  color: rgb(20, 20, 20);
  font-family: "Oswald", sans-serif;
  font-size: 14pt;
  height: 44px;
  width: 150px;
}

@media screen and (max-width: 600px) {
  .modal-body {
    width: 44vw;
  }

  .giphy-embed {
    width: 150px;
    height: 150px;
  }

  .modal-title {
    font-size: 24pt;
  }

  .instructions {
    font-size: 14pt;
  }
}

@media screen and (max-width: 768px) {
  .modal-body {
    width: 60vw;
    height: 80vh;
  }

  .giphy-embed {
    width: 200px;
    height: 200px;
  }

  .modal-title {
    font-size: 30pt;
  }

  .button-container {
    margin: 20px;
  }
}

@media screen and (max-width: 360px) {
  .modal-body {
    width: 80vw;
    height: 78vh;
  }

  .giphy-embed {
    width: 160px;
    height: 160px;
  }

  .close-modal-button {
    height: 40px;
    width: 140px;
  }
}
