.box-container {
  display: flex;
  flex-direction: column;
  background-size: cover;
  border-left: 1px solid rgb(32, 55, 230);
  height: 150px;
  width: 150px;
  margin-bottom: 33px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5%;
  box-shadow: 6px 0px 8px -2px rgb(20, 108, 214),
    2px 0px 8px 3px rgb(219, 15, 222);
}

.box {
  color: whitesmoke;
}

.not-selected-box {
  background-color: rgb(235, 230, 230);
  color: black;
}
