.searchbar-container {
  display: flex;
  flex-direction: row;
  font-size: 14pt;
  justify-content: center;
  padding-top: 40px;
}

.search-icon {
  color: black;
  cursor: pointer;
  font-size: 28px;
  margin: 8px 10px 0px 10px;
  position: absolute;
}

.search-input {
  background-color: whitesmoke;
  border-radius: 6px;
  box-shadow: 0px 2px 12px 5px rgb(101, 101, 240);
  cursor: pointer;
  height: 3em;
  overflow: hidden;
  text-align: center;
  width: 50em;
}

.clear-icon-container {
  position: relative;
}

.clear-icon {
  color: black;
  cursor: pointer;
  font-size: 28px;
  margin: 6px 10px 0px 10px;
  position: absolute;
  right: 5px;
  top: 4px;
}

.search-icon:hover,
.clear-icon:hover {
  color: rgb(210, 96, 235);
}
