.app-container {
  text-align: center;
  background-color: rgb(21 0 21);
  padding-bottom: 100px;
}

.page-title {
  color: rgb(217, 42, 240);
  font-size: 40pt;
  padding-top: 60px;
  font-family: "Anton", sans-serif;
}

.show-instructions {
  background-color: rgb(221, 118, 216);
  border: 2px solid rgb(101, 101, 240);
  border-radius: 10px;
  color: rgb(20, 20, 20);
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-size: 14pt;
  height: 50px;
  width: 180px;
  margin-top: 48px;
}

@media screen and (max-width: 600px) {
  .page-title {
    font-size: 24pt;
  }

  .show-instructions {
    height: 42px;
    width: 148px;
  }
}
